{% extends 'base.html.twig' %}



{% block body %}

<body id="page-top">

	<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
		<a class="navbar-brand js-scroll-trigger" href="#page-top">
			<span class="d-block d-lg-none">Aude Millequant</span>
			<span class="d-none d-lg-block">
				<img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{{asset('img/profile.jpg')}}" alt="">
			</span>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="#about">A propos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="#experience">Formations</a>
				</li>
				<li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="#education">Expériences</a>
				</li>
				<li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="#skills">Compétences</a>
				</li>
				{#<li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="#projects">Projets</a>
				</li>#}
				<li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="#interests">Centres d'intérêts</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="container-fluid p-0">

		<section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
			<div class="my-auto">
				<h1 class="mb-0">Aude
					<span class="text-primary">MILLEQUANT</span>
				</h1>
				<div class="font-weight-bold  mb-5">
					<p>Le Moulin Cluzel, 710 Chemin du Moulin, 42140 Châtelus , France</p>
				</div>

				<div class="font-weight-bold  mb-5">
					<a href="mailto:name@email.com">contact@audemillequant.fr</a>
					<p>+336 30 68 12 20</p>
				</div>

				<div class="mb-5">
					<a  href="{{ asset('pdf/CV-Aude-Milléquant-V2.pdf') }}"> <i class="fas fa-download"> téléchargez mon CV </i></a>
				</div>

				<div class=" lead mb-5">
					<p class="lead mb-5">Actuellement en reconversion professionnelle "développeur web" et en formation intensive chez
						O'clock, je suis à la recherche d'un emploi, un stage ou encore une alternance (à partir de mai 2019). N'hésitez
						pas à me contacter...</p>
				</div>

			</div>
		</section>

		<hr class="m-0">

		<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
			<div class="my-auto">
				<h2 class="mb-5">Formations</h2>

				<div class="resume-item d-flex flex-column flex-md-row mb-5">
					<div class="resume-content mr-auto">
						<h3 class="mb-0">Développeur Web et Web Mobile chez O'clock</h3>
						<div class="subheading mb-3">En cours de formation, spécialisation Symfony</div>
						<p class="lead mb-3">O’clock propose une formation de 5 mois, soit plus de 700h, avec la possibilité de passer le diplôme
							Développeur Web et Web Mobile niveau III (bac+2). Ou encore de continuer sur une alternance de 12 mois.</p>
						<a href="{{('https://oclock.io/')}}">
							A propos de l'école O'clock
						</a>

					</div>
					<div class="resume-date text-md-right">
						<span class="text-primary font-weight-bold">Septembre 2018 - Février 2019</span>
					</div>
				</div>

				<div class="resume-item d-flex flex-column flex-md-row mb-5">
					<div class="resume-content mr-auto">
						<h3 class="mb-0">BP JEPS Mention Equitation</h3>
						<div class="subheading mb-3">Formation aux métiers de l'enseignement de l'équitation</div>
						<p class="lead mb-3">Enseignement de l'équitation tous publics.</p>
					</div>
					<div class="resume-date text-md-right">
						<span class="text-primary font-weight-bold">2008 -2009</span>
					</div>
				</div>

				<div class="resume-item d-flex flex-column flex-md-row mb-5">
					<div class="resume-content mr-auto">
						<h3 class="mb-0">Master 2 en Management</h3>
						<div class="subheading mb-3">AUDENCIA Nantes</div>
						<p class="lead mb-3">Ecole de Commerce de Nantes, AUDENCIA.</p>
						<a href="{{('https://www.audencia.com/')}}">
							A propos d'AUDENCIA
						</a>
					</div>
					<div class="resume-date text-md-right">
						<span class="text-primary font-weight-bold">2001-2005</span>
					</div>
				</div>


			</div>

		</section>

		<hr class="m-0">

		<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
			<div class="my-auto">
				<h2 class="mb-5">Expériences</h2>

				<div class="resume-item d-flex flex-column flex-md-row mb-5">
					<div class="resume-content mr-auto">
						<h3 class="mb-0">Professeur des écoles</h3>
						<div class="subheading mb-3">Education Nationale</div>
						<div>
							<ul>
								<li>Remplacement des différents professeurs absents de l'académie de la Loire de la maternelle au CM2.</li>
								<li>Travail au sein de l'équipe éducative et relations avec les parents</li>
							</ul>
						</div>
					</div>
					<div class="resume-date text-md-right">
						<span class="text-primary font-weight-bold">Septembre 2015 - Août 2017</span>
					</div>
				</div>

				<div class="resume-item d-flex flex-column flex-md-row">
					<div class="resume-content mr-auto">
						<h3 class="mb-0">Gérante d'un Bar-Hôtel-Restaurant</h3>
						<div class="subheading mb-3">SARL Les Farges à Sainte Catherine (69440)</div>
						<div>
							<ul>
								<li>Accueil et service des clients du restaurant et de l'hôtel</li>
								<li>Gestion administrative, des stocks et des achats de l'établissement</li>
							</ul>
						</div>
					</div>
					<div class="resume-date text-md-right">
						<span class="text-primary font-weight-bold">Janvier 2012 - Mars 2014</span>
					</div>
				</div>

				<div class="resume-item d-flex flex-column flex-md-row">
					<div class="resume-content mr-auto">
						<h3 class="mb-0">Enseignante d'équitation</h3>
						<div class="subheading mb-3">EARL Centre Equestre La Rivière Saint-Martin-En-Haut (69850)</div>
						<div>
							<ul>
								<li>Enseignement tout public</li>
							</ul>
						</div>
					</div>
					<div class="resume-date text-md-right">
						<span class="text-primary font-weight-bold">Octobre 2010 - Août 2011</span>
					</div>
				</div>

				<div class="resume-item d-flex flex-column flex-md-row">
					<div class="resume-content mr-auto">
						<h3 class="mb-0">Groom, "garçon" d'écurie</h3>
						<div class="subheading mb-3">Beowulf Farm, Victoria, Colombie-Britannique, CANADA</div>
					</div>
					<div class="resume-date text-md-right">
						<span class="text-primary font-weight-bold">mars 2010 - Juillet 2010</span>
					</div>
				</div>

				<div class="resume-item d-flex flex-column flex-md-row">
					<div class="resume-content mr-auto">
						<h3 class="mb-0">Enseignante d'équitation</h3>
						<div class="subheading mb-3">Poney Club La Simioune, Bollène (84500)</div>
						<div>
							<ul>
								<li>Enseignement tout public</li>
							</ul>
						</div>
					</div>
					<div class="resume-date text-md-right">
						<span class="text-primary font-weight-bold">Janvier 2010 - Mars 2010</span>
					</div>
				</div>

				<div class="resume-item d-flex flex-column flex-md-row">
					<div class="resume-content mr-auto">
						<h3 class="mb-0">Enseignante d'équitation</h3>
						<div class="subheading mb-3">EARL Centre Equestre La Côte De Jade, Saint-Père-En-Retz (44320)</div>
						<div>
							<ul>
								<li>Enseignement tout public</li>
							</ul>
						</div>
					</div>
					<div class="resume-date text-md-right">
						<span class="text-primary font-weight-bold">Janvier 2007- Août 2009</span>
					</div>
				</div>

				<div class="resume-item d-flex flex-column flex-md-row">
					<div class="resume-content mr-auto">
						<h3 class="mb-0">Auditeur</h3>
						<div class="subheading mb-3">PricWaterHouseCoopers, Nantes (44000)</div>
						<div>
							<ul>
								<li>Commissariat aux comptes de sociétés du secteur équipementier automobile, de la sylviculture, de la
									bio-analyse, et des comptes consolidés de sociétés côtées (bio-analyse, multimédia)</li>
							</ul>
						</div>
					</div>
					<div class="resume-date text-md-right">
						<span class="text-primary font-weight-bold">Septembre 2005 - Décembre 2007</span>
					</div>
				</div>

			</div>
		</section>

		<hr class="m-0">

		<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
			<div class="my-auto">
				<h2 class="mb-5">Compétences</h2>


				<div class="resume-item d-flex flex-column flex-md-row">


					<div class="resume-content mr-auto">

						<div class="subheading mb-3">Anglais</div>

					</div>
					<div class="resume-date text-md-left">
						<div class="rating">
							<div class="stars">
								<i class="fa fa-star gold"></i>
								<i class="fa fa-star gold"></i>
								<i class="fa fa-star gold"></i>
								<i class="fa fa-star gold"></i>
								<i class="fa fa-star"></i>
							</div>
						</div>
					</div>
				</div>


				<div class="resume-item d-flex flex-column flex-md-row">
					<div class="resume-content mr-auto">

						<div class="subheading mb-3">HTML 5/ CSS/ Bootstrap</div>

					</div>
					<div class="resume-date text-md-left">
						<div class="rating">
							<div class="stars">
								<i class="fa fa-star gold"></i>
								<i class="fa fa-star gold"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</div>
						</div>
					</div>

				</div>

				<div class="resume-item d-flex flex-column flex-md-row">


					<div class="resume-content mr-auto">

						<div class="subheading mb-3">PHP /My SQL/ SQL/ POO</div>

					</div>
					<div class="resume-date text-md-left">
						<div class="rating">
							<div class="stars">
								<i class="fa fa-star gold"></i>
								<i class="fa fa-star gold"></i>
								<i class="fa fa-star "></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</div>
						</div>
					</div>
				</div>

				<div class="resume-item d-flex flex-column flex-md-row">


					<div class="resume-content mr-auto">

						<div class="subheading mb-3">Symfony</div>

					</div>
					<div class="resume-date text-md-left">
						<div class="rating">
							<div class="stars">
								<i class="fa fa-star gold"></i>
								<i class="fa fa-star gold"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</div>
						</div>
					</div>
				</div>

				<div class="resume-item d-flex flex-column flex-md-row">


					<div class="resume-content mr-auto">

						<div class="subheading mb-3">JavaScript / jQuery / Ajax</div>

					</div>
					<div class="resume-date text-md-left">
						<div class="rating">
							<div class="stars">
								<i class="fa fa-star gold"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</div>
						</div>
					</div>
				</div>


				<div class="resume-item d-flex flex-column flex-md-row">


					<div class="resume-content mr-auto">

						<div class="subheading mb-3">WORDPRESS</div>

					</div>
					<div class="resume-date text-md-left">
						<div class="rating">
							<div class="stars">
								<i class="fa fa-star gold"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</div>
						</div>
					</div>
				</div>


			</div>

	</div>

	<hr class="m-0">

	<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="projects">
		<div class="my-auto">
			<h2 class="mb-5">Projets</h2>
			<p>en cours de contruction</p>
			
		</div>
	</section>




	</section>

	<hr class="m-0">

	<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
		<div class="my-auto">
			<h2 class="mb-5">Centres d'intérêts</h2>
			<div class="lead mb-3"></div>
						<div>
							<ul>
								<li>Equitation y compris en compétition</li>
								<li>Lecture</li>
							</ul>
						</div>
					</div>
		</div>
	</section>

	</div>


	{% endblock %}